# 1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [1]:
from bs4 import BeautifulSoup
import requests as rqt
import re
import pandas as pd

In [5]:
def header(url):
    page=rqt.get(url)
    print(page)
    data=BeautifulSoup(page.content)
    header=data.find_all(['h1','h2','h3','h4','h5','h6'])
    pattern=re.compile(r'\n')
    headings=[]
    for i in header:
        headings.append(pattern.sub('',str(i.text)))
    df=pd.DataFrame({'Headers':headings})
    return df
        
        
header('https://www.wikipedia.org/')

<Response [200]>

                          Headers
0  WikipediaThe Free Encyclopedia
1              1 000 000+articles
2                100 000+articles
3                 10 000+articles
4                  1 000+articles
5                    100+articles

# 2) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents.htm and make data frame

In [32]:
def getPresidents(url):
    page=rqt.get(url)
    data=BeautifulSoup(page.content)
    presidents=data.find_all('h3')
    l=[]
    for i in presidents:
        l.append(re.sub(r'/[|/]','',i.text))
    presidents_o=data.find_all('h5')
    term=[]
    for i in presidents_o:
        term.append(re.sub(r'/[|/]','',i.text))
    df=pd.DataFrame({'Name of President':l,'Term of Office':term})
    return df


        
getPresidents('https://presidentofindia.nic.in/former-presidents')

               Name of President           Term of Office
0           Shri Ram Nath Kovind  14th President of India
1          Shri Pranab Mukherjee  13th President of India
2   Smt Pratibha Devisingh Patil  12th President of India
3         DR. A.P.J. Abdul Kalam  11th President of India
4           Shri K. R. Narayanan  10th President of India
5        Dr Shankar Dayal Sharma  9th  President of India
6            Shri R Venkataraman   8th President of India
7               Giani Zail Singh   7th President of India
8      Shri Neelam Sanjiva Reddy   6th President of India
9       Dr. Fakhruddin Ali Ahmed   5th President of India
10  Shri Varahagiri Venkata Giri   4th President of India
11              Dr. Zakir Husain   3rd President of India
12  Dr. Sarvepalli Radhakrishnan   2nd President of India
13           Dr. Rajendra Prasad   1st President of India

# 3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team andrating.
c) Top 10 ODI bowlers along with the records of their team andrating.

In [131]:
class CricketDetails:
    
    
    def odiTop10Teams(self,url):
    
        page=rqt.get(url)
        soup=BeautifulSoup(page.content)
        odi_teams=[]
        odi_teams.clear()
        matchs=[]
        matchs.clear()
        points=[]
        points.clear()
        rank=[]
        rank.clear()
        
        #*************************************************************************************************************
        #scraping baner data
        banner_team_matches=soup.find('td',class_='rankings-block__banner--matches')
        matchs.append(banner_team_matches.text)
        banner_team_points=soup.find('td',class_='rankings-block__banner--points')
        points.append(banner_team_points.text)
        banner_team_rating=soup.find('td',class_='rankings-block__banner--rating u-text-right')
        pattern=re.compile(r'[0-9]{3}')
        r=pattern.findall(str(banner_team_rating))
        rank.append(r[0])
        #*************************************************************************************************************
        #scraping table data
        table_teams=soup.find_all('span',class_='u-hide-phablet')
        for i in table_teams:
            odi_teams.append(i.text)
        table_matches=soup.find_all('td',class_='table-body__cell u-center-text')
        for j in range(0,len(table_matches)-1,2):
            matchs.append(table_matches[j].text)
            points.append(table_matches[j+1].text)
        table_rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
        for k in table_rating:
            rank.append(k.text)
        #*************************************************************************************************************
        #creating dataframe
        Rank=[i for i in range(1,20)]

        ODI_POINTS_TABLE=pd.DataFrame({'Rank':Rank,'Team':odi_teams,'Matchs':matchs,'Points':points,'Rating':rank},index=None)
        print('TOP 10 TEAMS IN ODI RANKING')
        return ODI_POINTS_TABLE.head(10)

    
        
    def odiTop10Batsmen(self,url):
        batsmenName=[]
        batsmenName.clear()
        teamName=[]
        teamName.clear()
        playerRating=[]
        playerRating.clear()
        playerRecord=[]
        playerRecord.clear()
        #*********************************************************************************
        #sending request to webpage and loading content
        page=rqt.get(url)
        soup=BeautifulSoup(page.content)
        #**********************************************************************************
        #banner records
        bannerName=soup.find('div',class_='rankings-block__banner--name-large')
        batsmenName.append(bannerName.text)
        '------------------------------------------------------------------------'
        team=soup.find('div',class_='rankings-block__banner--nationality')
        pattern=re.compile(r'\n')
        teamName.append(pattern.sub('',str(team.text)))
        '-------------------------------------------------------------------------'
        rating=soup.find('div',class_='rankings-block__banner--rating')
        playerRating.append(rating.text)
        '-------------------------------------------------------------------------'
        rec=soup.find('span',class_='rankings-block__career-best-text')
        pattern=re.compile(r'\n|\s')
        playerRecord.append(pattern.sub('',str(rec.text)))
        #***********************************************************************************
        #scrapiing table data
        name=soup.find_all('td',class_='table-body__cell rankings-table__name name')
        pattern=re.compile(r'\n+')
        for i in name:
            batsmenName.append(pattern.sub('',str(i.text)))
        #**************************************************
        name=soup.find_all('span',class_='table-body__logo-text')
        
        for i in name:
            teamName.append(i.text)
        #**************************************************************
        
        name=soup.find_all('td',class_='table-body__cell rating')
        for i in name:
            playerRating.append(i.text)
        #****************************************************************
        name=soup.find_all('td',class_='table-body__cell u-text-right u-hide-phablet')
        pattern=re.compile(r'\n|\s')
        #pattern.sub('',str(i.text))
        for i in name:
            playerRecord.append(pattern.sub('',str(i.text)))
        #**********************************************************************
        #creating dataframe
        Rank2=[i for i in range(1,101)]
        bat= pd.DataFrame({'Rank':Rank2,'Name':batsmenName,'Team':teamName,'Rating':playerRating,'Best Records':playerRecord},index=None)
        print('TOP 10 BATSMEN IN ODI RANKING')
        return bat.head(10)
        
        
        
    def odiTop10Bowler(self,url):
        bowlerName=[]
        bowlerName.clear()
        teamName=[]
        teamName.clear()
        playerRating=[]
        playerRating.clear()
        playerRecord=[]
        playerRecord.clear()
        #*********************************************************************************
        #sending request to webpage and loading content
        page=rqt.get(url)
        soup=BeautifulSoup(page.content)
        #**********************************************************************************
        #banner records
        bowlerName=soup.find('div',class_='rankings-block__banner--name-large')
#         bowlerName.append(bannerName.text)
        '------------------------------------------------------------------------'
        team=soup.find('div',class_='rankings-block__banner--nationality')
        pattern=re.compile(r'\n')
        teamName.append(pattern.sub('',str(team.text)))
        '-------------------------------------------------------------------------'
        rating=soup.find('div',class_='rankings-block__banner--rating')
        playerRating.append(rating.text)
        '-------------------------------------------------------------------------'
        rec=soup.find('span',class_='rankings-block__career-best-text')
        pattern=re.compile(r'\n|\s')
        playerRecord.append(pattern.sub('',str(rec.text)))
        #***********************************************************************************
        #scrapiing table data
        name=soup.find_all('td',class_='table-body__cell rankings-table__name name')
        pattern=re.compile(r'\n+')
        for i in name:
            bowlerName.append(pattern.sub('',str(i.text)))
        #**************************************************
        name=soup.find_all('span',class_='table-body__logo-text')
        
        for i in name:
            teamName.append(i.text)
        #**************************************************************
        
        name=soup.find_all('td',class_='table-body__cell rating')
        for i in name:
            playerRating.append(i.text)
        #****************************************************************
        name=soup.find_all('td',class_='table-body__cell u-text-right u-hide-phablet')
        pattern=re.compile(r'\n|\s')
        for i in name:
            playerRecord.append(pattern.sub('',str(i.text)))
        #**********************************************************************
        #creating datframe
        Rank3=[i for i in range(1,101)]
        bowling= pd.DataFrame({"Rank":Rank3,'Name':bowlerName,'Team':teamName,'Rating':playerRating,'Best Records':playerRecord},index=None)
        print('TOP 10 BOWLERS IN ODI RANKING')
        return bowling.head(10)

In [132]:
ob=CricketDetails()
ob.odiTop10Teams('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

TOP 10 TEAMS IN ODI RANKING

   Rank          Team Matchs Points Rating
0     1     Australia     23  2,714    118
1     2      Pakistan     20  2,316    116
2     3         India     36  4,081    113
3     4   New Zealand     27  2,806    104
4     5       England     24  2,426    101
5     6  South Africa     19  1,910    101
6     7    Bangladesh     28  2,661     95
7     8   Afghanistan     16  1,404     88
8     9     Sri Lanka     32  2,794     87
9    10   West Indies     38  2,582     68

In [133]:
ob.odiTop10Batsmen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

TOP 10 BATSMEN IN ODI RANKING

,Rank,Name,Team,Rating,Best Records
0,1,Babar Azam,PAK,886,"898vWestIndies,10/06/2022"
1,2,Rassie van der Dussen,SA,777,"796vEngland,19/07/2022"
2,3,Fakhar Zaman,PAK,755,"784vNewZealand,29/04/2023"
3,4,Imam-ul-Haq,PAK,745,"815vWestIndies,12/06/2022"
4,5,Shubman Gill,IND,743,"743vWestIndies,01/08/2023"
5,6,Harry Tector,IRE,726,"726vNepal,04/07/2023"
6,7,David Warner,AUS,726,"880vPakistan,26/01/2017"
7,8,Quinton de Kock,SA,718,"813vSriLanka,10/03/2019"
8,9,Virat Kohli,IND,705,"911vEngland,12/07/2018"
9,10,Steve Smith,AUS,702,"752vPakistan,22/01/2017"

In [134]:
ob.odiTop10Bowler('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

TOP 10 BOWLERS IN ODI RANKING

,Rank,Name,Team,Rating,Best Records
0,1,Josh Hazlewood,AUS,705,"733vEngland,26/01/2018"
1,2,Mitchell Starc,AUS,686,"783vNewZealand,29/03/2015"
2,3,Rashid Khan,AFG,682,"806vPakistan,21/09/2018"
3,4,Mohammed Siraj,IND,670,"736vNewZealand,21/01/2023"
4,5,Matt Henry,NZ,667,"691vBangladesh,26/03/2021"
5,6,Mujeeb Ur Rahman,AFG,661,"712vIreland,24/01/2021"
6,7,Trent Boult,NZ,660,"775vAustralia,11/09/2022"
7,8,Adam Zampa,AUS,652,"655vEngland,22/11/2022"
8,9,Shaheen Afridi,PAK,630,"688vWestIndies,10/06/2022"
9,10,Kuldeep Yadav,IND,622,"765vNewZealand,26/01/2019"

# 4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [135]:
class womensCricket:
    
    
    def womentsTop10OdiTeams(self,url):
        page=rqt.get(url)
        soup=BeautifulSoup(page.content)
        odi_teams=[]
        odi_teams.clear()
        matchs=[]
        matchs.clear()
        points=[]
        points.clear()
        rank=[]
        rank.clear()

        #*************************************************************************************************************
        #scraping baner data
        banner_team_matches=soup.find('td',class_='rankings-block__banner--matches')
        matchs.append(banner_team_matches.text)
        banner_team_points=soup.find('td',class_='rankings-block__banner--points')
        points.append(banner_team_points.text)
        banner_team_rating=soup.find('td',class_='rankings-block__banner--rating u-text-right')
        pattern=re.compile(r'[0-9]{3}')
        r=pattern.findall(str(banner_team_rating))
        rank.append(r[0])
        #*************************************************************************************************************
        #scraping table data
        table_teams=soup.find_all('span',class_='u-hide-phablet')
        for i in table_teams:
            odi_teams.append(i.text)
        table_matches=soup.find_all('td',class_='table-body__cell u-center-text')
        for j in range(0,len(table_matches)-1,2):
            matchs.append(table_matches[j].text)
            points.append(table_matches[j+1].text)
        table_rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
        for k in table_rating:
            rank.append(k.text)
        #*************************************************************************************************************
        #creating dataframe
        Rank=[i for i in range(1,14)]
        ODI_POINTS_TABLE=pd.DataFrame({'Rank':Rank,'Team':odi_teams,'Matchs':matchs,'Points':points,'Rating':rank},index=None)
        print('TOP 10 TEAMS IN WOMENS ODI RANKING')
        return ODI_POINTS_TABLE.head(10)
    
    def Top10OdiBatWomens(self,url):
        batsmenName=[]
        batsmenName.clear()
        teamName=[]
        teamName.clear()
        playerRating=[]
        playerRating.clear()
        playerRecord=[]
        playerRecord.clear()
        #*********************************************************************************
        #sending request to webpage and loading content
        page=rqt.get(url)
        soup=BeautifulSoup(page.content)
        #**********************************************************************************
        #banner records
        bannerName=soup.find('div',class_='rankings-block__banner--name-large')
        batsmenName.append(bannerName.text)
        '------------------------------------------------------------------------'
        team=soup.find('div',class_='rankings-block__banner--nationality')
        pattern=re.compile(r'\n')
        teamName.append(pattern.sub('',str(team.text)))
        '-------------------------------------------------------------------------'
        rating=soup.find('div',class_='rankings-block__banner--rating')
        playerRating.append(rating.text)
        '-------------------------------------------------------------------------'
        rec=soup.find('span',class_='rankings-block__career-best-text')
        pattern=re.compile(r'\n|\s')
        playerRecord.append(pattern.sub('',str(rec.text)))
        #***********************************************************************************
        #scrapiing table data
        name=soup.find_all('td',class_='table-body__cell rankings-table__name name')
        pattern=re.compile(r'\n+')
        for i in name:
            batsmenName.append(pattern.sub('',str(i.text)))
        #**************************************************
        name=soup.find_all('span',class_='table-body__logo-text')
        
        for i in name:
            teamName.append(i.text)
        #**************************************************************
        
        name=soup.find_all('td',class_='table-body__cell rating')
        for i in name:
            playerRating.append(i.text)
        #****************************************************************
        name=soup.find_all('td',class_='table-body__cell u-text-right u-hide-phablet')
        pattern=re.compile(r'\n|\s')
        #pattern.sub('',str(i.text))
        for i in name:
            playerRecord.append(pattern.sub('',str(i.text)))
        #**********************************************************************
        #creating dataframe
        Rank2=[i for i in range(1,101)]
        bat= pd.DataFrame({'Rank':Rank2,'Name':batsmenName,'Team':teamName,'Rating':playerRating,'Best Records':playerRecord},index=None)
        print('TOP 10 WOMENS IN BATTING ODI RANKING')
        return bat.head(10)
        
        
        
    def Top10OdiWomensAllRounder(self,url):
        bowlerName=[]
        bowlerName.clear()
        teamName=[]
        teamName.clear()
        playerRating=[]
        playerRating.clear()
        playerRecord=[]
        playerRecord.clear()
        #*********************************************************************************
        #sending request to webpage and loading content
        page=rqt.get(url)
        soup=BeautifulSoup(page.content)
        #**********************************************************************************
        #banner records
        bowlerName=soup.find('div',class_='rankings-block__banner--name-large')
#         bowlerName.append(bannerName.text)
        '------------------------------------------------------------------------'
        team=soup.find('div',class_='rankings-block__banner--nationality')
        pattern=re.compile(r'\n')
        teamName.append(pattern.sub('',str(team.text)))
        '-------------------------------------------------------------------------'
        rating=soup.find('div',class_='rankings-block__banner--rating')
        playerRating.append(rating.text)
        '-------------------------------------------------------------------------'
        rec=soup.find('span',class_='rankings-block__career-best-text')
        pattern=re.compile(r'\n|\s')
        playerRecord.append(pattern.sub('',str(rec.text)))
        #***********************************************************************************
        #scrapiing table data
        name=soup.find_all('td',class_='table-body__cell rankings-table__name name')
        pattern=re.compile(r'\n+')
        for i in name:
            bowlerName.append(pattern.sub('',str(i.text)))
        #**************************************************
        name=soup.find_all('span',class_='table-body__logo-text')
        
        for i in name:
            teamName.append(i.text)
        #**************************************************************
        
        name=soup.find_all('td',class_='table-body__cell rating')
        for i in name:
            playerRating.append(i.text)
        #****************************************************************
        name=soup.find_all('td',class_='table-body__cell u-text-right u-hide-phablet')
        pattern=re.compile(r'\n|\s')
        for i in name:
            playerRecord.append(pattern.sub('',str(i.text)))
        #**********************************************************************
        #creating datframe
        Rank3=[i for i in range(1,21)]
        bowling= pd.DataFrame({"Rank":Rank3,'Name':bowlerName,'Team':teamName,'Rating':playerRating,'Best Records':playerRecord},index=None)
        print('TOP 10 WOMENS IN ALLROUNDER ODI RANKING')
        return bowling.head(10)

In [136]:
t=womensCricket()
t.womentsTop10OdiTeams('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

TOP 10 TEAMS IN WOMENS ODI RANKING

   Rank          Team Matchs Points Rating
0     1     Australia     26  4,290    165
1     2       England     31  3,875    125
2     3  South Africa     26  3,098    119
3     4         India     30  3,039    101
4     5   New Zealand     28  2,688     96
5     6   West Indies     29  2,743     95
6     7    Bangladesh     17  1,284     76
7     8     Sri Lanka     12    820     68
8     9      Thailand     13    883     68
9    10      Pakistan     27  1,678     62

In [137]:
t.Top10OdiBatWomens('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

TOP 10 WOMENS IN BATTING ODI RANKING

,Rank,Name,Team,Rating,Best Records
0,1,Natalie Sciver-Brunt,ENG,803,"803vAustralia,18/07/2023"
1,2,Chamari Athapaththu,SL,758,"758vNewZealand,03/07/2023"
2,3,Beth Mooney,AUS,751,"776vEngland,12/07/2023"
3,4,Laura Wolvaardt,SA,732,"741vAustralia,22/03/2022"
4,5,Smriti Mandhana,IND,708,"797vEngland,28/02/2019"
5,6,Alyssa Healy,AUS,702,"785vEngland,03/04/2022"
6,7,Harmanpreet Kaur,IND,694,"731vEngland,21/09/2022"
7,8,Ellyse Perry,AUS,686,"766vWestIndies,11/09/2019"
8,9,Meg Lanning,AUS,682,"834vNewZealand,24/02/2016"
9,10,Stafanie Taylor,WI,618,"766vPakistan,07/07/2021"

In [138]:
t.Top10OdiWomensAllRounder('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

TOP 10 WOMENS IN ALLROUNDER ODI RANKING

,Rank,Name,Team,Rating,Best Records
0,1,Natalie Sciver-Brunt,ENG,421,"421vAustralia,18/07/2023"
1,2,Ashleigh Gardner,AUS,389,"389vIreland,28/07/2023"
2,3,Hayley Matthews,WI,382,"392vIreland,26/06/2023"
3,4,Marizanne Kapp,SA,349,"419vWestIndies,10/09/2021"
4,5,Ellyse Perry,AUS,329,"548vWestIndies,11/09/2019"
5,6,Amelia Kerr,NZ,328,"356vWestIndies,25/09/2022"
6,7,Deepti Sharma,IND,312,"397vSouthAfrica,09/10/2019"
7,8,Jess Jonassen,AUS,241,"308vWestIndies,11/09/2019"
8,9,Sophie Devine,NZ,233,"305vAustralia,05/10/2020"
9,10,Nida Dar,PAK,232,"232vAustralia,21/01/2023"

# 5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame
i) Headline
ii) Time
iii) News Link

In [139]:
def news(url):
    page=rqt.get(url)
    soup=BeautifulSoup(page.content)
    headline=[]
    links=[]
    Time=[]
    headlines=soup.find_all('span',class_='LatestNews-wrapper')
    for tag in headlines:
        headline.append(tag.text)
    #*****************************************
    li=soup.find_all('a',class_='LatestNews-headline')
    for tag in li:
        links.append(tag.get('href'))
    #*****************************************
    timeData=soup.find_all('time',class_='LatestNews-timestamp')
    for i in timeData:
        Time.append(i.text)
    #*******************************************
    #df
    News=pd.DataFrame({'Headline':headline,'Posted Time':Time,'Link':links})
    return News




news('https://www.cnbc.com/world/?region=world')

,Headline,Posted Time,Link
0,18 Min Ago,18 Min Ago,https://www.cnbc.com/2023/08/16/hedge-funds-bo...
1,19 Min Ago,19 Min Ago,https://www.cnbc.com/2023/08/16/hawaii-governo...
2,23 Min Ago,23 Min Ago,https://www.cnbc.com/2023/08/16/da-seeks-march...
3,46 Min Ago,46 Min Ago,https://www.cnbc.com/2023/08/16/abortion-pill-...
4,46 Min Ago,46 Min Ago,https://www.cnbc.com/2023/08/16/landing-a-job-...
5,47 Min Ago,47 Min Ago,https://www.cnbc.com/2023/08/16/aldi-to-acquir...
6,57 Min Ago,57 Min Ago,https://www.cnbc.com/2023/08/16/fundstrats-tom...
7,60 Min Ago,60 Min Ago,https://www.cnbc.com/2023/08/16/were-adjusting...
8,1 Hour Ago,1 Hour Ago,https://www.cnbc.com/2023/08/16/rosenblatt-hik...
9,1 Hour Ago,1 Hour Ago,https://www.cnbc.com/2023/08/16/top-investors-...
10,2 Hours Ago,2 Hours Ago,https://www.cnbc.com/2023/08/16/fed-meeting-mi...
11,2 Hours Ago,2 Hours Ago,https://www.cnbc.com/2023/08/16/amazon-adds-a-...
12,2 Hours Ago,2 Hours Ago,https://www.cnbc.com/2023/08/16/buy-treasuries...
13,3 Hours Ago,3 Hours Ago,https://www.cnbc.com/2023/08/16/feds-indict-pa...
14,3 Hours Ago,3 Hours Ago,https://www.cnbc.com/2023/08/16/stocks-making-...
15,3 Hours Ago,3 Hours Ago,https://www.cnbc.com/2023/08/16/how-to-turn-yo...
16,3 Hours Ago,3 Hours Ago,https://www.cnbc.com/2023/08/16/needham-makes-...
17,3 Hours Ago,3 Hours Ago,https://www.cnbc.com/2023/08/16/margot-robbie-...
18,3 Hours Ago,3 Hours Ago,https://www.cnbc.com/2023/08/16/a-biotech-hedg...
19,4 Hours Ago,4 Hours Ago,https://www.cnbc.com/2023/08/16/cava-sweetgree...
20,4 Hours Ago,4 Hours Ago,https://www.cnbc.com/2023/08/16/target-pride-b...
21,4 Hours Ago,4 Hours Ago,https://www.cnbc.com/2023/08/16/barbie-tops-th...
22,4 Hours Ago,4 Hours Ago,https://www.cnbc.com/2023/08/16/this-stock-buy...
23,4 Hours Ago,4 Hours Ago,https://www.cnbc.com/2023/08/16/activists-ease...
24,4 Hours Ago,4 Hours Ago,https://www.cnbc.com/2023/08/16/psychotherapis...
25,4 Hours Ago,4 Hours Ago,https://www.cnbc.com/2023/08/16/goldman-sachs-...
26,5 Hours Ago,5 Hours Ago,https://www.cnbc.com/2023/08/16/progressive-ha...
27,5 Hours Ago,5 Hours Ago,https://www.cnbc.com/2023/08/16/us-states-with...
28,5 Hours Ago,5 Hours Ago,https://www.cnbc.com/2023/08/16/why-cramer-say...
29,5 Hours Ago,5 Hours Ago,https://www.cnbc.com/2023/08/16/jennifer-hyman...

# 6) Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data frame
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [140]:
page=rqt.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup=BeautifulSoup(page.content)
articals=soup.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg')
Articles=[]
for i in articals:
    Articles.append(i.text)
dates=soup.find_all('span',class_='sc-1thf9ly-2 dvggWt')
Date=[]
for i in dates:
    Date.append(i.text)
links=soup.find_all('li',class_='sc-9zxyh7-1 sc-9zxyh7-2 kOEIEO hvoVxs')
link=[]
for i in links:
    link.append(i.a['href'])
#********************************************************************************************
#creating DataFrame
Frame=pd.DataFrame({'Article Name':Articles,'Published Date':Date,'Link':link})
Frame

,Article Name,Published Date,Link
0,Reward is enough,October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,July 2021,https://www.sciencedirect.com/science/article/...

# 7) Write a python program to scrape mentioned details from dineout.co.inand make data frame
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [141]:
def restoInfo(url):
    page=rqt.get(url)
    soup=BeautifulSoup(page.content)
    rName=soup.find_all('a',class_='restnt-name ellipsis')
    restoName=[]
    for i in rName:
        restoName.append(i.text)

    fcus=soup.find_all('span',class_='double-line-ellipsis')
    pattern=re.compile(r'[A-Z]\w+')
    Cuisine=[]
    for i in fcus:
        Cuisine.append(pattern.findall(str(i.text)))

    rName=soup.find_all('div',class_='restnt-loc ellipsis')
    loc=[]
    for i in rName:
        loc.append(i.text)

    rat=soup.find_all('div',class_='img-wrap')
    Ratings=[]
    for i in rat:
        Ratings.append(re.sub(r'[a-z]+|[A-Z]','',i.text))

    im=soup.find_all('img',class_='no-img')
    Image=[]
    for i in im:
        Image.append(i['data-src'])
        
    dineout=pd.DataFrame({'Restaurant name':restoName,'Cuisine':Cuisine,'Location':loc,'Ratings':Ratings,'Image URL':Image})
    return dineout

    
restoInfo("https://www.dineout.co.in/hyderabad-restaurants/welcome-back")

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Ohris Jiva Imperia,"[North, Indian, Chinese, Rajasthani, South, In...","White House,Begumpet, Secunderabad",4,https://im1.dineout.co.in/images/uploads/resta...
1,So. The Sky Kitchen,"[North, Indian, Chinese, Asian, Mughlai]","Aryan's Building,Jubilee Hills, Central West H...",4,https://im1.dineout.co.in/images/uploads/resta...
2,Exotica,"[North, Indian, Chinese, Asian]","12th Square Building,Banjara Hills, Central Ea...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Flechazo,"[North, Indian, Italian, Mangalorean, Mediterr...","Banjara Hills, Central East Hyderabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
4,By The Bay - Bar Exchange,"[North, Indian, Continental, Chinese]","Khairatabad, Central Hyderabad",4.1,https://im1.dineout.co.in/images/uploads/resta...
5,Verandah,"[Chinese, North, Indian, Continental, Italian]","The Park,Somajiguda, Central East Hyderabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Parampara - Flavours of india,"[Chinese, North, Indian]","ANR Center,Banjara Hills, Central East Hyderabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
7,Krishnapatnam,"[Andhra, South, Indian, North, Indian]","Shreshta Aura,Jubilee Hills, Central West Hyde...",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,Pizza Hut,"[Pizza, Fast, Food]","The Grand Building,Somajiguda, Central East Hy...",4.4,https://im1.dineout.co.in/images/uploads/resta...
9,Headquarters,"[North, Indian, Italian, Chinese, Continental,...","Somajiguda, Central East Hyderabad",4.1,https://im1.dineout.co.in/images/uploads/resta...
10,Seven Spices,"[Andhra, Biryani]","Somajiguda, Central East Hyderabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
11,10 Downing Street,"[Finger, Food, Chinese, Continental, North, In...","Begumpet, Secunderabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,Eagles Pizza,"[Pizza, Fast, Food]","Ohud Building,Somajiguda, Central East Hyderabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
13,Kuchipudi,"[Andhra, North, Indian]","Katriya Hotel,Somajiguda, Central East Hyderabad",4,https://im1.dineout.co.in/images/uploads/resta...
14,Hideaway,[Chinese],"Begumpet, Secunderabad",5,https://im1.dineout.co.in/images/uploads/resta...
15,Urvasi Bar And Restaurant,"[North, Indian, Chinese]","Hotel Urvasi,Panjagutta, Central East Hyderabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
16,Ice n Spice,"[North, Indian, Continental, South, Indian, Ch...","Hotel Inner Circle,Somajiguda, Central East Hy...",4.2,https://im1.dineout.co.in/images/uploads/resta...
17,Amogham - The Lake View Restaurant,"[Chinese, North, Indian, Continental, Mughlai]","Khairatabad, Central Hyderabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
18,Rocket Fuel Cafe,"[Fast, Food]","Somajiguda, Central East Hyderabad",4.1,https://im1.dineout.co.in/images/uploads/resta...
19,One Fine Day,[Desserts],"Necklace Road, Secunderabad",3,https://im1.dineout.co.in/images/uploads/resta...
20,Gayathri Bhavan,"[Chinese, Biryani]","SR Nagar, Central East Hyderabad",3.6,https://im1.dineout.co.in/images/uploads/resta...